---
# tasks file for guruevi.win_sessions
- name: Collect Windows Session Facts
  win_session_facts:
  when: ansible_os_family == "Windows"

- name: Collect Unix Session Facts
  unix_session_facts:
  when: ansible_os_family != "Windows"
